body {
    padding: 10px 0 10px 0;
}

.container {
    padding: 0 10px 0 10px;
}

#table-search {
    width: 64%;
    display: inline;
}

#num-results {
    margin-left: 1em;
}

.metadata {
    margin-left: 1em;
    font-style: italic;
    color: #555;
    font-size: 90%;
}
