{% extends "layout.html" %}

{% block page_id %}entry-{{entry.id}}{% endblock %}

{% block body %}
	<div id=entry-info>
		<h2>{{ entry.title }}</h2>
		<h3>{{ entry.creator }}</h2>
		<div>{{ entry.notes }}</div>
	</div>

	<fieldset class="ui-grid-a">
		<div class="ui-block-a"><a data-role="button" data-icon="arrow-l" href="{{ url_for('group_detail', group_id=entry.group.id) }}" data-ajax="false">Back</a></div>
		<div class="ui-block-b"><a data-role="button" data-icon="edit" href="#edit-entry-{{entry.id}}">Edit</a></div>
	</fieldset>

{% endblock %}

{% block other_pages %}
	<div data-role="page" id="edit-entry-{{entry.id}}">
		<div role="main" class="ui-content">
			<form action="{{ url_for('edit_entry', entry_id=entry.id) }}" method="POST" data-ajax="false">
				<input type=text name=title placeholder="Title" value="{{ entry.title }}" />
				<input type=text name=creator placeholder="Creator" value="{{ entry.creator }}" />
				<textarea name=notes placeholder="Notes">{{ entry.notes }}</textarea>
				<fieldset class="ui-grid-a">
					<div class="ui-block-a"><a data-role="button" data-icon="delete" href="#entry-{{entry.id}}" data-rel="back">Cancel</a></div>
					<div class="ui-block-b"><input data-role="button" data-icon="check" type=submit value="Save" /></div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
