{% extends "layout.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ url_for('all_groups') }}">Groups</a></li>
		<li class="active">{{ group.name }}</li>
	</ol>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Creator</th>
			</tr>
		</thead>
	
		<tbody>
			{% for entry in group.entries.order_by("entry.creator").all() %}
				<tr>
					<th><a href="{{ url_for('entry_detail', entry_id=entry.id) }}" data-ajax="false" >{{ entry.title }}</a></th>
					<td>{{ entry.creator }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<a class="btn btn-default pull-right" accesskey="n" href="{{ url_for('new_entry', group_id=group.id) }}">
		<span class="glyphicon glyphicon-plus"></span> New entry
	</a>
{% endblock %}
