{% extends "layout.html" %}

{% set page_title=group.name + " stats" %}

{% block head %}
    <style>
        .bar {
            background-color: #777;
            height: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('all_groups') }}">Home</a></li>
        <li><a href="{{ url_for('group_detail', group_id=group.id) }}">{{ group.name }}</a></li>
        <li class="active">[stats]</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-body">
            <strong>Works:</strong> {{ stats['nworks'] }} <br/>
            <strong>Creators:</strong> {{ stats['creators'] | count }} <br/><br/>
            <strong>Avg works/creator:</strong> {{ (stats['nworks']/stats['ncreators']) | round(3)}} <br/>
            <strong>Top creators:</strong>
            {% for e in stats['creators'][:16] %}
                {{ e[0] }} ({{ e[1] }}){% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Entries created</div>
        <div class="panel-body">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th width="10%">Month</th>
                    <th width="5%;">Count</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for ym in stats['months'] | sort %}
                    <tr>
                        <td>{{ ym }}</td>
                        <td style="text-align: right">{{ stats['months'][ym] }}&nbsp&nbsp</td>
                        <td><div style="width: {{ 100*stats['months'][ym] / stats['maxmon'] }}%" class="bar"></div></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}