{% extends "layout.html" %}

{% set page_title=group.name + " stats" %}

{% macro panel(title) %}
<div class="panel panel-default">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
        {{ caller() }}
    </div>
</div>
{% endmacro %}

{% macro histogram(labellabel, hist) %}
    <table style="width: 100%;">
        <thead>
        <tr>
            <th width="10%">{{ labellabel }}</th>
            <th width="5%;" style="text-align: right">#&nbsp;&nbsp;</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for (key, val) in hist.data | sort %}
            <tr>
                <td>{{ key }}</td>
                <td style="text-align: right">{{ val }}&nbsp;&nbsp;</td>
                <td><div style="width: {{ 100.0 * val / hist.maxval }}%" class="bar"></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block head %}
    <style>
        .bar {
            background-color: #777;
            height: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('all_groups') }}">Home</a></li>
        <li><a href="{{ url_for('group_detail', group_id=group.id) }}">{{ group.name }}</a></li>
        <li class="active">[stats]</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-body">
            <strong>Works:</strong> {{ stats['nworks'] }} <br/>
            <strong>Creators:</strong> {{ stats['ncreators'] }} <br/>
        </div>
    </div>

    {% call panel("Works per creator") %}
      <strong>Avg works/creator:</strong> {{ (stats['nworks']/stats['ncreators']) | round(3)}} <br/> <br/>
      <strong>Top creators:</strong>
      {% for e in stats['nworks_top'] %}
          {{ e[0] }} ({{ e[1] }}){% if not loop.last %},{% endif %}
      {% endfor %}
      <br/><br/>
      {{ histogram("Works", stats["nworks_hist"]) }}
    {% endcall %}

    {% call panel("Entries created") %}
      {{ histogram("Month", stats["months_hist"]) }}
    {% endcall %}

    {% call panel("Entry length") %}
      <strong>Total:</strong> {{ (stats['total_len'] / 1024.0) | round(1) }} kB <br/>
      <strong>Average:</strong> {{ stats['avg_len'] | int }} bytes<br/>
      <strong>Words (est.):</strong> {{ "{:,.0f}".format(stats['total_len'] / 6.1)}} <br/>
      <strong>Pages (est.):</strong> {{ (stats['total_len'] / 6.1 / 500) | int }} <br/>
      <br/>
      <strong>Longest:</strong>
      {% for (n, l) in stats['longest'] %}
        {{ n }} ({{ l}}){% if not loop.last %},{% endif %}
      {% endfor %}
      <br/><br/>
      <strong>Shortest:</strong>
      {% for (n, l) in stats['shortest'] %}
        {{ n }} ({{ l}}){% if not loop.last %},{% endif %}
      {% endfor %}
      <br/><br/>
      {{ histogram("Length", stats["lengths_hist"]) }}
    {% endcall %}

{% endblock %}
